<div class="row">
    <div class="col-md-8 d-flex align-items-center">
        <div>
            <h1>{{ content.title }}</h1>
            <p [innerHTML]="content.description"></p>

            <a [routerLink]="internLink.href" class="custom_button_blue text-decoration-none" *ngIf="internLink">{{
                internLink.title }}</a>
            <a href="{{ externLink.href }}" class="custom_button_red text-decoration-none ms-2" *ngIf="externLink">{{
                externLink.title
                }}</a>
        </div>
    </div>
    <div class="col-md-4">
        <app-image [image]="image" className="img-fluid"></app-image>
    </div>
</div>