<section class="experience_section">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="img-box">
                    <app-image [image]="image"></app-image>
                </div>
            </div>
            <div class="col-md-6">
                <div class="detail-box">
                    <div class="heading_container">
                        <h2>{{ content.title }}</h2>
                    </div>
                    <p>{{ content.description }}</p>
                    <form>
                        <input id="city-search-input" type="text" class="form-control mb-3" placeholder="For example Berlin" required />
                        <input type="submit" class="custom_button_red" value="Search" />
                    </form>
                </div>
            </div>

        </div>
    </div>
</section>