<div class="container pt-5 pb-5">
    <div class="row">
        <div class="col-md-6">
            <app-image [image]="image" className="img-fluid"></app-image>
        </div>
        <div class="col-md-6">
            <div class="heading_container">
                <h2>{{ content.title }}</h2>
            </div>
            <p>{{ content.description }}</p>
            <form>
                <input id="city-search-input" type="text" class="form-control mb-3" placeholder="For example Berlin"
                    required />
                <input type="submit" class="custom_button_red" value="Search" />
            </form>
        </div>
    </div>
</div>