@import '../../../../assets/stylesheets/color.scss';

.hero_area {
    height: calc(100vh - 30px);
    background: linear-gradient(to right, $primary2 55%, $white 55%);
    display: flex;
    flex-direction: column;
    position: relative;
}