/* You can add global styles to this file, and also import other style files */
@import 'assets/stylesheets/color.scss';

body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
}

@mixin main-font {
  font-family: 'Poppins', sans-serif;

}

@mixin second-font {
  font-family: "Poppins", sans-serif;
}

@mixin hero_btn($col1, $col2, $pad1, $pad2, $bRadius) {
  display: inline-block;
  padding: $pad1 $pad2;
  background-color: $col1;
  color: $col2;
  transition: all 0.3s;
  border: 1px solid transparent;
  border-radius: $bRadius;

  &:hover {
    background-color: transparent;
    border-color: $col1;
    color: $col1;
  }
}

@mixin upperBold {
  text-transform: uppercase;
  font-weight: bold;
}

body {
  @include main-font();
  color: #0c0c0c;
  background-color: #ffffff;
}

/* General */
.custom_button_red,
.custom_button_blue {
  display: inline-block;
  padding: 10px 0;
  color: $white;
  transition: all 0.3s;
  border: 1px solid transparent;
  border-radius: 0;
  padding: 10px 30px 10px 30px;
}

.custom_button_red:hover {
  background-color: transparent;
  border: 1px solid $btnColor;
  color: $btnColor;
}

.custom_button_red {
  background-color: $btnColor;
}

.custom_button_blue {
  background-color: $primary2;
}

.heading_container {
  display: flex;

  h2 {
    font-weight: bold;
    text-transform: uppercase;
  }
}

a,
a:hover,
a:focus {
  text-decoration: none;
}

a:hover,
a:focus {
  color: initial;
}

.pb-190 {
  padding-bottom: 190px;
}