<section class="info_section ">
    <div class="info_container pt-5 pb-1">
        <div class="container">
            <div class="info_top">
                <div class="info_logo">
                    <img src="assets/images/airplain.png" alt="Quick-Journey Planer Logo" />
                    <span>
                        Quick Journey Planer
                    </span>
                </div>
                <div class="social_box">
                    <a [routerLink]="['/imprint']" class="text-white fs-5">Imprint</a>
                </div>
            </div>
        </div>
    </div>
</section>